@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300&family=Rubik+Doodle+Shadow&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gasoek+One&family=Hi+Melody&display=swap");
@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css");

@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  white-space: pre-line;
}

#__next {
  width: 100%;
}

a {
  text-decoration: none;
}

video {
  mask-image: -webkit-radial-gradient(#fff, #000);
  backface-visibility: hidden;
}
