@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css");
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
}
@font-face {
  font-family: "Heiti SC";
  src: url("/fonts/heiti/HeitiSC-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");

@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dokdo&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

#__next {
  width: 100%;
}

a {
  text-decoration: none;
}

video {
  mask-image: -webkit-radial-gradient(#fff, #000);
  backface-visibility: hidden;
}
